.main {
	padding-top: 60px;
}

.logo {
	margin-left:auto;
	margin-right:auto; 
	display:block;
}

#search {
	margin: 10px auto;
	width: 500px;
}

a.tag {
	border: 1px solid black;
	color: white;
	background-color: grey;
}

a.title {
	color:black;
}